body {
    font-family: sans-serif;
}

#js_warn_div {
    display: inline-block;
    margin-bottom: 1em;
    padding: 1px 20px;
    border-radius: 5px;
    background-color: #F0DB4F;
}

.le-table .a {
    text-align: right;
    font-weight: bold;
}

.buttons {
    margin-top: 1em;
}

.featured-media {
    margin-top: 2em;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}

.featured-media img {
    max-height: 300px;
    max-width: 95vw;
}

#clock {
    display: none;
}

@media (min-width: 50rem) {
    #js_warn_div {
        float: right;
    }
}


@media (min-width: 30rem) {
    #clock {
        display: block;
        float: right;
        margin-left: 40px;
        margin-bottom: 20px;
    }
   
}


@media (prefers-color-scheme: dark) {
    body {
        background: black; color: white;
    }
    #js_warn_div {
        color: black;
    }
    .buttons button {
        filter: invert(1);
    }
    .featured-media {
        filter: brightness(150%);
        filter: contrast(85%);
    }
    #clock {
        filter: invert(1);
    }
}
